[submodule "generator/third_party/wgpu-native"]
	path = generator/wgpu-native
	url = https://github.com/gfx-rs/wgpu-native

[submodule "generator/third_party/dawn"]
	path = generator/dawn
	url = https://dawn.googlesource.com/dawn
