[submodule "generator/third_party/wgpu-native"]
	path = generator/third_party/wgpu-native
	url = https://github.com/gfx-rs/wgpu-native

[submodule "generator/third_party/dawn"]
	path = generator/third_party/dawn
	url = https://dawn.googlesource.com/dawn
[submodule "generator/third_party/emscripten"]
	path = generator/third_party/emscripten
	url = https://github.com/emscripten-core/emscripten
